extends layout

block content
	div.container-fluid
		div#header.row
			div.col-md-12
				div#logo.center-block.img-responsive
			div.col-md-12
				h1#title.center-block= title
		div#second.row
			h1 Soon...
