extends layout

block content
	div.container-fluid
		div#header.row
			div.col-md-12
				div#logo.center-block.img-responsive
			div.col-md-12
				h1#title.center-block= title
		div#who.row
			h1 Who are we?
			h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illum iure libero minus eligendi aspernatur dolores quia minima deleniti earum laborum aperiam recusandae fuga quaerat incidunt. Ab aliquam veniam dolor.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
		div#why.row
			h1 Why should you choose us?
			h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illum iure libero minus eligendi aspernatur dolores quia minima deleniti earum laborum aperiam recusandae fuga quaerat incidunt. Ab aliquam veniam dolor.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
		div#contact.row
			h1 Contact us
			h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illum iure libero minus eligendi aspernatur dolores quia minima deleniti earum laborum aperiam recusandae fuga quaerat incidunt. Ab aliquam veniam dolor.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat eveniet debitis eligendi obcaecati sed exercitationem eaque a vitae praesentium temporibus quasi libero. Accusamus omnis id natus dolorum minus earum?