extends layout

block content
	div.container-fluid
		div#header.row
			div.col-md-12
				div#logo.center-block.img-responsive
			div.col-md-12
				h1#title.center-block= title
		div#who.row
			h1 Who are we?
		div#why.row
			h1 Why should you choose us?
		div#contact.row
			h1 Contact us